[2017-01-31 14:02] KiselN opened #1 "Old application insights api is used"
I am pretty sure that `logEvent` and `start` methods are from the old library. The new API is described here https://github.com/Microsoft/ApplicationInsights-JS/blob/master/API-reference.md

[2017-01-31 18:21] MarkPieszak commented on #1
Oh thank you @KiselN !
My apologies, I was just getting things setup, must of been looking at some old/wrong documentation!

[2017-01-31 18:37] KiselN commented on #1
No problem @MarkPieszak
I've been trying some things today for my project. Can make a PR soon with new api and basic page tracking implementation.

[2017-01-31 18:45] MarkPieszak commented on #1
I just updated and added a few of the APIs (none of them implemented yet), if you want to take a look and make any neccessary PRs!

Started going down that list adding everything and copying the signatures so far.  Stopped right before adding `Config()`

Really appreciate it! :+1:

[2017-01-31 20:21] MarkPieszak commented on #1
One problem I'm realizing now is that if we use the SDK it probably isn't built in a Universal fashion, where it's making sure `window` even exists. I'll have to look into it.

[2017-01-31 21:19] MarkPieszak opened #3 "[Server-only] Exception: Call to Node module failed with error: ReferenceError: define is not defined"
This is an external issue with the applicationinsights-js SDK itself.

Coming from these first lines: (Because the library is AMD not CommonJS)

[code]

https://github.com/Microsoft/ApplicationInsights-JS/issues/301

[2017-03-28 03:18] viperguynaz commented on #1
@MarkPieszak - latest client-side API implemented in rc.0 - for Universal though I'd recommend using the [Node.js SDK](https://www.npmjs.com/package/applicationinsights).

📕 I'd recommend closing this issue.

[2017-03-28 09:28] aguerot opened #7 "Compilation error in ng2 app: Calling function 'ApplicationInsightsModule', function calls are not supported"
Hi,

I am facing a compilation issue today. he exact same code was compiling fine last week.
Here is the offending line in my app.module.ts as per the TS compiler:
`
 import { ApplicationInsightsModule } from '@markpieszak/ng-application-insights';
 ...
 imports: [
    ...
    ApplicationInsightsModule.forRoot({
      appID: <myid>,
      appName: <myproj>
    })
  ],`

Here is the compiler error:

[2017-03-28 21:31] MarkPieszak commented on #7
That's my fault in that I'm not AoTing the library to package the metadata.json files that are neccessary on your end (since you're trying to AoT your application).

I'll have to fix that and republish a new version, apologies!

[2017-03-28 22:26] MarkPieszak commented on #7
Just published an update to the library to fix up the library so that it publishes AoT metadata files.
Can you give it a shot?

The latest is now 1.0.0-rc.1 it also includes some great updates from Don @viperguynaz ! (You can see those updates [here](https://github.com/MarkPieszak/angular-application-insights/pull/6))
@markpieszak/ng-application-insights@1.0.0-rc.1

[2017-03-28 22:26] #3 closed

[2017-03-28 22:27] #1 closed

[2017-03-28 22:27] MarkPieszak commented on #1
Thank you @viperguynaz ! 💯 🥅 ⚽️

[2017-03-29 07:53] aguerot commented on #7
I've updated to 1.0.0-rc.1. Works like a charm!
Thanks for getting this fixed that quickly, really appreciate.
@viperguynaz, your updates are really nice as well
Keep up the good work guys

[2017-03-29 11:29] MarkPieszak commented on #7
glad to hear it's working !
Are you getting all the necessary data stored in Azure as well?

Love to see some screenshots of it in action with your app 😀

[2017-03-29 11:29] #7 closed

[2017-03-29 12:42] aguerot commented on #7
![image](https://cloud.githubusercontent.com/assets/11557948/24454836/b23a6a3c-148d-11e7-9a8c-56a71ddef989.png)
I've only setup trackpage and trackevent with custom data but I can find all my telemetry up in Azure

[2017-03-29 18:21] MarkPieszak commented on #7
That's great!! :)

[2017-03-31 22:44] auhorn opened #8 "Example with webpack integration"
Hi

I tried to include this library in an asp.net core Angular JavascriptServices application and have the hardest time to get it up and running. Do you have an example how it does need to be configured?  I installed the package and change my root module but I am not sure what else needs to be done.

Thank you in advance!
Torsten

[2017-03-31 23:04] #8 closed

[2017-03-31 23:05] auhorn commented on #8
Needed to add `"@types/applicationinsights-js":` to the `devDependencies` in the package.json.

[2017-03-31 23:31] MarkPieszak commented on #8
Ahh would it help if we add it to the dependencies here? Or should we make note of it in the Readme?

[2017-04-03 15:30] auhorn commented on #8
I would add this as a dependency to have it "working out of the box" but Readme would do it as well.  THANK YOU!

[2017-04-03 16:06] MarkPieszak commented on #8
Yeah let me just add it as a dependency, thanks for pointing it out!

[2017-04-04 18:31] MrTimms opened #9 "Cannot find namespace 'Microsoft'."
Thanks for your hard work!

I've hit a compilation error and I don't know how to solve it. Can you take a look at this for me?
I'm using Angular 4.0.1, Angular-CLI 1.0.0, and your module @markpieszak/ng-application-insights 1.0.0-rc.1

Please let me know if you need more information.

    ERROR in c:/master/node_modules/@markpieszak/ng-application-insights/dist/src/app-insight.service.d.ts (4,23):

[2017-04-05 09:31] aguerot commented on #9
I am having the exact same issue when trying to upgrade my app to ng4

[2017-04-05 10:17] hakonamatata commented on #9
Also experiencing the same problem

[2017-04-05 11:11] MarkPieszak commented on #9
Does adding "@types/applicationinsights-js":` to the `devDependencies` in the package.json help fix this one? I be,I've I need to add it to the dependencies of the library here!

[2017-04-05 13:51] aguerot commented on #9
Adding `@types/applicationinsights-js` to the devDependencies does the trick indeed. I haven't tried to add to your library though.  Only to my ng4 app.

[2017-04-05 15:17] MarkPieszak commented on #9
Yeah I think that'll handle it, let me add it in the project and push a new version to `npm`!

[2017-04-05 15:23] #9 closed

[2017-04-05 15:29] MarkPieszak commented on #9
Published 1.0.0, let me know if there's still any problems 👍
@aguerot @hakonamatata @MrTimms

[2017-04-05 17:43] MrTimms commented on #9
@MarkPieszak I no longer see this compile time error. I am seeing a couple of compile time warnings and a run time error when I do an --aot build. I'll start a new thread for that issue.

[2017-04-05 17:55] MrTimms opened #10 "Run time error when using an AoT build"
I'm using Angular 4.0.1, Angular-CLI 1.0.0, and @markpieszak/ng-application-insights 1.0.0

Everything works perfectly when I run a debug build. However, once I add the --aot flag I receive 2 compile time warnings and a run time error.

Please let me know if you need more information.

Compile time warnings:

    WARNING in ./~/@markpieszak/ng-application-insights/~/@angular/router/src/private_imp

[2017-04-05 22:41] MarkPieszak commented on #10
This may be due to the fact that we're using the older 2.x router and you're on 4.
Might have to upgrade it within the library here!

[2017-04-05 22:59] viperguynaz commented on #10
@MarkPieszak I was going to recommend freezing minimum capabilitywe've implemented @ 1.0.0 and then bump to 4.0.0 to align with NG4 - I have an implementation done, should be able to get  PR up tonight.

[2017-04-06 00:25] MarkPieszak commented on #10
ahh good idea, don't think we need to align with Core though 😜
Maybe just 2.0?

[2017-04-06 20:49] #10 closed

[2017-04-06 21:43] MarkPieszak commented on #10
@MrTimms can you try 2.0 thanks to @viperguynaz

[2017-04-07 17:22] MrTimms commented on #10
@MarkPieszak @viperguynaz Everything is working. Thanks!

[2017-04-12 03:52] markphillips100 opened #12 "Window not defined issue server-side"
Should the repo as of today support using the module for server-side prerendering?  I'm getting the familiar window not defined issue:

[code]

If I look at that line in main-server.js there are many references to window:

[code]

[2017-04-13 16:59] viperguynaz commented on #12
This module is not designed for server-side use. For Universal or Node.js, use [Application Insights for Node.js](https://www.npmjs.com/package/applicationinsights)

[2017-04-13 23:18] markphillips100 commented on #12
Well that explains it ;-)

[2017-04-13 23:18] #12 closed

[2017-05-17 09:40] deKaantje opened #13 "forRoot() with observable"
Hi Mark,

First of all; Love the package, easy setup and use!

My 'issue' is as follows:

I want to load configuration settings that contain the instrumentation key. This instrumentation key is therefore not directly known when the app.module is executed. So calling the _forRoot()_ with the key is not an option.

Would it be possible to use an observable (preferred) or promise to set the key? I co

[2017-05-19 21:10] pderks opened #14 "Ability to override startTrackPage name and stopTrackPage name"
Within the _init()_ function of _app-insight.service.ts_ startTrackPage() and stopTrackPage() gets called for me with the name specified as event.url. It would be nice to be able to provide a custom name of my choosing for page view events.

**Proposed Solution:**
Enable the ability to set a flag to disable this functionality, so that I can create my own implementation without having duplicate pag

[2017-05-20 11:15] flightlevel opened #15 "Can't use with JavaScriptServices app"
I'm sure the 'issue' here is the end user, but unsure where I'm going wrong
Using the https://github.com/aspnet/JavaScriptServices starter

Running Angular 4.1.2 with 2.0.0 version of angular-application-insights

This is my `app.module.client.ts`

[code]

And this is the console error I get in Chrome

[code]

Any ideas?

[2017-05-21 13:31] MarkPieszak commented on #13
@deKaantje thank you for the kind words! Glad it's helping people out there 👍

So you have a few options (some better, some worse), but unfortunately at least by their current design you can't have a forRoot or anything at that low of a level be Async (since it's at the lowest NgModule level).

The easiest way to achieve this would be to get this apiKey on the server (before anything even gets ren

[2017-05-21 13:32] MarkPieszak commented on #14
Good idea! We can definitely add something like this in there to make it more customizable. 👍

[2017-05-21 13:35] MarkPieszak commented on #15
Haven't tried it with that first basic angular4 integration, does this happen right on page load?

[2017-05-22 07:08] deKaantje commented on #13
@MarkPieszak Thank you for the response. I had thought about that solution, but it places the config retrieval outside of my Angular environment. It feels a bit dirty to me; kind of last resort.
I will have to do some more digging / thinking!

I will get back on this if I find a solution. Thank you for your time!

[2017-05-22 13:51] MarkPieszak commented on #13
The other option is doing the call before bootstrap, and then once you have it, bootstrap the application and then you can pass in that appId.

The window TransferData is a very common way to pass down server data to HTML, but it does seem strange at first no doubt !

Hope that helps get you in the right direction!

I'll try to talk to the team. Let me know how you end up.

[2017-06-12 22:36] MrTimms opened #16 "Karma Tests with angular-application-insights"
Hi @MarkPieszak. I'm trying to write karma tests for my app. I'm pretty new to karma so this probably a problem with me and not your package. But when I run my tests I get an error that says:

     Error: No provider for AppInsightsService!

Do you know how to fix this? Or do you know of any other projects that run karma tests with your package so I can see how they fix this problem?

Thanks!

[2017-06-12 23:33] MarkPieszak commented on #16
Did you add it in the Providers list for your TestBed?

[2017-06-12 23:38] MarkPieszak commented on #13
@deKaantje Hope you figured it out eventually?

I'd imagine APP_INITIALIZER would be the best way to go about it, as the app won't start up until that Promise is finished.

For example something like...

    {
      provide: APP_INITIALIZER,
      useFactory: (config: ConfigurationService) => () => config.getConfig(),
      deps: [ConfigurationService],
      multi: true
    },

Set whatever you n

[2017-06-12 23:38] #13 closed

[2017-06-13 17:37] MrTimms commented on #16
Thanks for the advice.
I'll try stubbing it out.

[2017-06-15 09:43] deKaantje commented on #13
@MarkPieszak  We currently solved it by putting a config object on the window object. Not my preferable solution, but for now it works.

We'll keep it on the backlog, so we'll look into it a bit later..

Thank you for the help!

[2017-06-16 11:53] jycouet opened #17 "instrumentationKey set later"
Hi,

I would like to know if it's possible to set the instrumentationKey later and not in @NgModule?
[code]
(and not having the log: "An instrumentationKey value is required to initialize AppInsightsService")

Because depending on my environement I would like to set different "instrumentationKey".

Thank you

[2017-06-17 00:47] MarkPieszak commented on #17
If possible you could either pluck it from an object on window, or from a static property of some Class. If you don't get it until some http call finishes you could use APP_INITIALIZER as well. How are you setting this property, is just another .ts file?

[2017-06-19 17:27] jycouet commented on #17
Thank you for your answer.
Actually, I put now the key in **environment.prod.ts**. Like this I can manage different environments.

Now the only stuff I don't know is: Should I commit these environment files in git? Since they contains "keys"?

[2017-06-19 20:02] MarkPieszak commented on #17
I don't think it'd be any harm to have them in there, you'd need to have the keys visible/public either way (whether you typed them in there or not). You should be fine committing them I'd imagine!

[2017-06-19 20:25] #17 closed

[2017-06-23 14:32] ctenden opened #19 "Telemetry not cached during network disconnects"
Tracking of telemetry appears to be lost if TRACK POST is performed while network is down.

Reproduction Steps:
**With Network On**
Perform a trackEvent
Wait for TRACK POST
Perform a trackEvent
**Turn off Network**
Wait for TRACK POST
Turn on network
Perform a trackEvent
Wait for TRACK POST

In Insights, only trackEvent 1 and 3 are captured.

Is it possible to use navigator.online to decide whethe

[2017-06-29 15:22] #14 closed

[2017-06-29 15:25] #16 closed

[2017-07-01 16:13] MarkPieszak commented on #19
Would it be easier to do this on the app-side?
Are you talking about storing things in an Collection if it's offline and sending the event when it comes back on?

[2017-07-02 16:08] ctenden commented on #19
Correct.  Telemetry collected before a disconnect and during a disconnect IF the attempt is made to TRACK, is lost.  Telemetry collected during a disconnect but reconnects before the TRACK is fine.

[2017-07-03 07:14] jessenic opened #21 "Unmet peer dependency"
The new version (2.2.0) breaks my npm dependencies. It depends on 4.1.1 angular packages while it probably should depend on all 4.x packages. I'm running Angular 4.2.5. Version 2.0.0 works fine so I'm using it until this gets fixed.

[2017-07-03 12:42] MarkPieszak commented on #21
Just fixed it, apologies! Thanks for letting me know.
`2.3.0 released to npm` 🍾

@jessenic

[2017-07-03 12:42] #21 closed

[2017-07-06 15:43] MarkPieszak commented on #15
https://github.com/MarkPieszak/aspnetcore-angular2-universal/issues/329#issuecomment-313381570

Thanks to @marchel2 for posting it

[code]

[2017-07-16 12:15] saskodh commented on #17
@MarkPieszak, can you show an example how you can configure it with an APP_INITIALIZER which retrieves the key from the backend? I think in order to support that the instrumentationKey config should also take a function which will be called to retrieve the key,

[2017-08-01 15:56] isaac2004 opened #22 "An instrumentationKey value is required to initialize AppInsightsService"
I am using this in conjunction with [this](https://github.com/MarkPieszak/aspnetcore-angular2-universal) and I am getting above error on App Load in console. I assume this is order of operations issue since the key is injected into the service at some point (Api calls to AppInsights are successful). Here is what I am doing in main.server.ts (as well as aot)

[code]
and in browser-app.module

[code

[2017-08-07 21:07] pderks opened #23 "overrideTrackPageMetrics not included in typings file"
The overrideTrackPageMetrics property in the AppInsightsConfig is not being included in the app-insight.service.d.ts typings file in the dist folder. Running npm run build on a local branch of the code seems to generate the typings file with this property. However, when doing an npm install overrideTrackPageMetrics does not appear in the typings file.

Previously this was not an issue in version 2

[2017-08-07 23:47] MarkPieszak commented on #23
Thanks for logging this! Haven't seen that, I'm wondering if somehow it didn't publish properly that's strange, if it's building locally it definitely should be there hmm. I'll take a look!

[2017-08-08 16:25] pderks commented on #23
@MarkPieszak Thanks!

[2017-08-09 08:33] svNet opened #24 "Initialize instrumentationKey via http request"
Hi.
I have multiple application insight instances, which correspond to my runtime environments (DEV, ACT, PROD). I am searching for the best way to set up the instrumentationKey dependent on the environment it was distributed from. I was thinking about requesting the corresponding server, if this is possible in any way.
Do you know how I could achieve this the best?

[2017-08-11 03:50] MarkPieszak commented on #15
This should be fixed now, the readme also showcases how to use it with JavascriptServices or my companion repo. Hope that helps!

[2017-08-11 03:50] #15 closed

[2017-08-11 03:51] MarkPieszak commented on #22
Assume we have this one fixed as you figured out the rendering! Cheers.

[2017-08-11 03:53] MarkPieszak commented on #24
Currently APP_INITIALIZER would be the best way, where you'd make the request and then when the app actually bootstraps you already have the string ready.

I'm working on better ways of handling the key, like from an http observable so this can be easier in the future and then fire off the other events when it's all ready. For now use the initializer though! Cheers.

[2017-08-11 09:30] isaac2004 commented on #22
I am still having a loading issue where the service isn't loading the key. See that 343 in the other repo

[2017-08-11 15:35] isaac2004 commented on #22
@MarkPieszak you can close this and we can just chat in the other one. Sorry to cross streams here

[2017-08-13 05:41] #22 closed

[2017-08-29 17:05] pderks commented on #23
Is there any update on this?

[2017-08-29 17:37] #23 closed

[2017-08-29 17:38] MarkPieszak commented on #23
Sorry about that delay! Finally had a second to look, it's been updated to 2.3.1, get latest and you should see it in there. Apologies about the delay :(

[2017-08-29 17:39] pderks commented on #23
No worries. Thank you!

[2017-09-06 09:46] chrisfoster78 opened #25 "No provider for Router! Angular CLI 1.3.2"
I have just created a new empty project using the current Angular CLI (1.3.2) and the current angular-application-insights (2.3.1) and get a "No provider for Router!" error.

[code]

npm list --depth=0

[code]

package.json
[code]

[2017-09-06 13:41] MarkPieszak commented on #25
Hey Chris that's strange, is it a completely untouched CLI project ? I'll have to give this a shot, not sure why that would come up.

[2017-09-06 13:45] chrisfoster78 commented on #25
Hi Mark

Thank you for replying so quickly.  Yes it's completely untouched. I noticed it after upgrading a large project and have now managed to get it working by pinning to an older version of angular (4.3.1).

[2017-09-10 06:06] dfederm opened #26 "Package depends on itself?"
I see in `package.json` that `"@markpieszak/ng-application-insights": "^2.3.0"` is a dependency... which is this package.

Intentional?

[2017-09-10 07:36] dfederm commented on #25
I'm also seeing this after upgrading from angular 4.3.5 to 4.4.0-RC.0.

It feels like it has something to do with one or both of these versioning oddities in my package-lock.json

The first is that `@angular/compiler-cli@4.4.0-RC.0` seems to depend on `@angular/tsc-wrapped@4.3.6`. I've reported that issue in angular/angular#19129.
[code]

The second is that `@markpieszak/ng-application-insights`'s

[2017-09-10 08:20] dfederm commented on #25
I just tried the following combinations:

angular | ng-application-insights | Does it work?
------------ | -------------| -------------
4.3.5 | 2.3.0 | Yes
4.3.5 | 2.3.1 | Yes
4.3.6 | 2.3.0 | No
4.3.6 | 2.3.1 | Yes
4.4.0-RC.0 | 2.3.0 | No
4.4.0-RC.0 | 2.3.1 | No

It looks like any time `ng-application-insights` ends up with a `@angular/router` in its `dependencies` section instead of just the `req

[2017-09-10 08:35] dfederm commented on #25
I figured out the resolution question. I basically just needed to learn `semver` better.

Even though angular 4.4.0-RC.0 is listed as the latest, from `semver`'s perspective it's a prerelease package. And because it's prerelease, `^4.0.0` won't resolve to it since it isn't prerelease.

So now the question becomes what's the correct way for `ng-application-insights` to reference `@angular/router` w

[2017-09-10 15:02] MarkPieszak commented on #25
@dfederm Not a problem David, thanks for the research! I believe we need to set it as a peerDependency as opposed to a regular one, and that may solve the issue. Or we might need an OR for the version ^4.0.0 || 4.4.0-rc.0, rc0 might have been accidentally pushed out publically, since only full versions should be available, that should really only of been there if you installed via @next. Bizarre!

[2017-09-10 15:03] MarkPieszak commented on #26
This may be an accident, not sure why that's in there. Saw that the other day actually 🤔

[2017-09-10 15:40] dfederm commented on #25
You're right, it does seem weird that a prerelease would be marked as @latest.

Here are some examples of what other libraries I use happen to be doing, sorted by how popular the library is (assuming that popular libs do it "the right way"):
* @ng-bootstrap/ng-bootstrap - Lists `@angular/core`, `@angular/common`, and `@angular/forms` as `4.0.3` in peerDependencies and the rest in devDependencies a

[2017-09-10 16:40] #26 closed

[2017-09-10 16:49] MarkPieszak commented on #25
@chrisfoster78 Published version 2.3.2 to npm thanks to @dfederm give it a shot!

[2017-09-10 20:06] chrisfoster78 commented on #25
@MarkPieszak, @dfederm Thanks for your time and sorry I've not been much help.

I've just tried another new brand new project and got the following error:

[code]

I then tried adding "@types/applicationinsights-js": "1.0.4" and get the same original error (No provider for Router).

I also observed the same dependency on @angular/router 4.3.6 in the package.lock file as @dfederm. But I don't think

[2017-09-10 20:35] chrisfoster78 commented on #25
It seems like I have been getting this error in my bare bones project as I simply followed the minimal instructions for setting up and had not added any routes.  Everything is fine after adding some routes and more importantly the dependency on the RouterModule.  The latest version is missing the typings dependency for applicationinsights from my previous comment.

Thanks for your help

Chris

[2017-09-10 20:39] MarkPieszak commented on #25
Yes I think we need the types dependency and such back in peers, applicationinsights-js as well.
https://github.com/MarkPieszak/angular-application-insights/pull/27/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2L28

[2017-09-10 22:56] dfederm commented on #25
I think you're right about the types, but it feels weird to have types as a dependency.

Regarding the Router, which seems like a separate issue than these dependency issues, perhaps the Router should be marked as optional in the service's ctor? Just in case the app isn't using routing I guess. Probably rare in practice, but a little more generic.

[2017-09-11 01:59] MarkPieszak commented on #25
Published 2.3.3 to at least fix the typing issue, thank you guys for noticing these things! Apologies 👍

[2017-09-11 12:07] janvanuytrecht opened #28 "Release 2.3.3 breaks build"
Moving the typings dependency from dev to peer forces people using the package to include the typings package to their dev dependency package list.

Maybe this is as intended, but then it should be included in the readme I guess.

[2017-09-12 16:34] mikemwalsh commented on #28
Confirmed.  2.3.3 is coming down on NPM for me now on my build server (using ^2.0.0 in package.json) and the build is broken.  Minor/build version releases should not cause breaking changes.  I have locked myself at 2.3.2 for now.

[2017-09-13 16:54] MarkPieszak commented on #28
It seemed we needed it for another precious issue, do we need to put it back to where it was? @mikemwalsh @janvanuytrecht Apologies guys!

[2017-09-13 17:40] janvanuytrecht commented on #28
No worries.

I would just note it in the readme file that consumers should also include the typings in their Dev dependencies. And add it as a dependency on the npm site

Mvg,
Jan.

[2017-09-13 18:11] mikemwalsh commented on #28
@MarkPieszak I am actually not sure this specifically was my issue.  I had to roll back to a previous version.  I will try to figure out what broke it for me and report back

[2017-09-13 22:16] #28 closed

[2017-09-13 22:17] MarkPieszak commented on #28
Should be fixed now via `2.3.4`, just tested on a blank angular-cli project and no errors when building or installing :) @mikemwalsh @janvanuytrecht

Sorry about that!

[2017-09-13 22:19] MarkPieszak commented on #25
Published 2.3.4 and tried, the types dep error is gone, and I didn't see "No provider for Router" so I think we're all set now!

[2017-09-13 22:19] #25 closed

[2017-10-13 23:37] #24 closed

[2017-10-13 23:38] MarkPieszak commented on #24
fixed via  2c6c713 thanks to @jycouet

[2017-10-13 23:38] MarkPieszak commented on #17
@saskodh fixed via  2c6c713 thanks to @jycouet

[2017-11-14 12:15] sat80890 opened #31 "Cannot read property 'isPromise' of undefined"
This is looks like similar to [https://github.com/MarkPieszak/angular-application-insights/issues/10](https://github.com/MarkPieszak/angular-application-insights/issues/10)
But, i have Angular 4.2.1 with
"dependencies": {
                     "attherate markpieszak/ng-application-insights": "^2.4.2",
}

Runtime Error
Cannot read property 'isPromise' of undefined

Stack:
TypeError: Cannot read prop

[2017-11-15 07:47] sat80890 commented on #31
do we have any update ? @MarkPieszak @KamilSzostak @Dmitry-Matveev @johnkattenhorn

[2017-11-20 18:04] EthanMelamed opened #32 "How to unit test a component that uses this service?"
Hi,

I have a component that bring in the service in the constructor like this:

constructor(
            public appInsights: AppInsightsService, ...
){ ... }

How do I then set up my spec file?

Thanks,
Ethan

[2017-12-11 16:36] MarkPieszak commented on #32
Hey Ethan,

As these are outside of the component itself, I'd simply `mock` the AppInsightsService with some blank/noop() functions, just focus on the core functionality of your component itself.

You could just mock it like:

[code]

[2017-12-11 16:39] MarkPieszak commented on #31
Hey @sat80890 Apologies on the delay, github notifications are a mess!
Did you ever figure this one out?
It sounds like you might need to dump `node_modules` and reinstall everything, make sure it's using the correct versions in node_modules manually afterwards, maybe something is installing older versions for some reason.

Let me know!

[2017-12-12 15:24] Farre82 opened #33 "NodeInvocationException: StaticInjectorError[AppInsightsService]:"
Hi,
When switching from
<app asp-ng2-prerender-module="ClientApp/dist/main-server">Loading...</app>
to
<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>
I am getting NodeInvocationException: StaticInjectorError[AppInsightsService].

I use JavascriptServices with Angular 5 and .Net Core 2.0
Please Help!

[2017-12-12 19:41] navarrofracisco commented on #31
@MarkPieszak  Hi there, facing the same problem. I removed the node_modules and ran the following commands and I still continue to see the same problem.
npm cache clean
npm install

Version:
"dependencies": {
    "@angular/router": "^4.1.3",
    "@markpieszak/ng-application-insights": "^1.0.0",
}

![image](https://user-images.githubusercontent.com/8353831/33904618-f6dfac42-df30-11e7-917e-2d72fdb3c

[2017-12-13 03:39] MarkPieszak commented on #31
So you need to use `^2.0.0` at least, that `^` will only stay within that current semantic versioning of ^1.0.0 you have in your package.json, that should fix it!
@sat80890 If you can upgrade to 2.x that'd fix your issue as well.

Let me know! Closing out for now.

[2017-12-13 03:39] #31 closed

[2017-12-13 03:40] MarkPieszak commented on #33
Are you doing Universal / Server-side rendering?
If so you have to set it up a little bit differently: https://github.com/MarkPieszak/angular-application-insights#usage-with-aspnetcore-angular2-universal-repo-or-javascriptservices--apps-w-server-side-rendering-

[2017-12-13 03:40] #32 closed

[2017-12-14 07:43] dfederm opened #34 "Support Angular 5"
Angular 5 has been out now for a little while, so it'd be nice to add support for it.

At a glance at least in my app, it just works as-is. I'm just getting this error with `npm install`:

[code]

So optimistically, only the `package.json` needs to be updated and it'll just work.

[2017-12-16 16:46] MarkPieszak commented on #34
Thank you @dfederm !

Fixed via https://github.com/MarkPieszak/angular-application-insights/commit/60f04b9c58be28fd86a6676bcbfb477ac575e21f

Apologies on the delay.

[2017-12-16 16:46] #34 closed

[2017-12-19 21:55] Farre82 commented on #33
You are right, I'm using Serverside rendering, thanks!

Another question on setting context properties like version, UserID. Is that possible?

[2018-02-06 20:07] LanceEa opened #35 "Rxjs Pipeable operators"
I have started seeing the following screen shot.

<img width="867" alt="screen shot 2018-02-06 at 2 00 54 pm" src="https://user-images.githubusercontent.com/8103374/35881435-6153400c-0b46-11e8-9a9d-e03a9d09a4d3.png">

Looking at the code in Chrome Dev Tools it looks like the `rxjs/add/operator/filter` is not getting added to my bundle which means that `filter` is not available on the `this.router.

[2018-02-12 05:07] #35 closed

[2018-02-12 05:07] MarkPieszak commented on #35
fixed via 3321782

Thank you @LanceEa !
Merged & published 4.0.0 :+1:

[2018-02-12 07:28] LanceEa commented on #35
no problem! Thanks for getting it merged and published! 👍

[2018-02-22 08:07] Farre82 opened #37 "Setting context properties"
Setting context properties like version, UserID. Is that possible?

[2018-02-26 01:06] MarkPieszak commented on #37
You should be able to, what are you trying to do?
The API is (at least supposed) to be identical, to the normal application-insights.

[2018-02-26 01:07] #33 closed

[2018-03-20 04:37] worldspawn commented on #37
userId is set with `setAuthenticatedUserContext`.

To set custom properties i think you need to add a custom telemetry initializer.

https://github.com/Microsoft/ApplicationInsights-JS/blob/master/API-reference.md#addtelemetryinitializer

This doesn't appear to exposed though _this_ library.

[2018-03-20 23:11] worldspawn opened #38 "Multiple imports"
Hi,

So I wanted to define a module (ModuleB) that imports (among) other things appinsightsmodule and then have my app module import that. My lazy loaded modules also import the same module.

Now ModuleB implements forRoot to stop a instance being made of every service for each lazy module. If I import AppInsightsModule here I really should be getting these errors 'ApplicationInsightsModule is alr

[2018-03-21 03:45] MarkPieszak commented on #38
@worldspawn You're completely correct, I don't even know how I didn't notice that yet!!
If you can get a PR in for that we could get it released in a newer version of the package - I'm sure it'd help lots of others.

Good catch on this one 💯

[2018-03-21 04:45] worldspawn commented on #37
I think the problem is here:

https://github.com/MarkPieszak/angular-application-insights/blob/b1deeeb27ddc5b1a0eef8208c79e4f2cedb82355/src/app-insight.service.ts#L42-L48

`AppInsightsService` defines a `queue` and `context` field but they are never set to anything.

[code]

FTW?

[2018-03-21 04:54] worldspawn commented on #37
Should then be able to do something like this:

[code]

[2018-03-22 20:16] #38 closed

[2018-03-23 13:38] dloukola opened #41 "setAuthenticatedUserContext doesn't follow the application insights contract"
setAuthenticatedUserContext doesn't allow the ability to use the storeInCookie param.

https://github.com/Microsoft/ApplicationInsights-JS/blob/master/API-reference.md#setauthenticatedusercontext

[2018-03-23 13:56] dloukola commented on #41
I'll fix this, if I'm allowed to create a pull request.

[2018-03-23 22:48] MarkPieszak commented on #41
Of course! I didn't know we were missing that functionality, so sorry about that!
Let me know, I'll take a look and get the PR merged & published as soon as I can. @dloukola
💯

[2018-03-23 22:50] #37 closed

[2018-03-23 22:51] MarkPieszak commented on #37
Fixed via e5040bea467f2e759583cc9dae8b3f8bc7ec43b5 thanks to @worldspawn 🎖

[2018-03-29 03:14] GustavoAmerico commented on #41
I have the same problem, discover it needs call setAuthenticatedUserContext before trackEvent
I'm investigating how to solve in page change.

[2018-03-29 04:10] GustavoAmerico commented on #19
@ctenden
This behavior is caused in the original implementation, I found the file responsible for the http request, but I will not be able to implement and test it in the next days. Try opening an Issue in the repository:
https://github.com/Microsoft/ApplicationInsights-JS/blob/master/JavaScript/JavaScriptSDK/Sender.ts

[2018-03-30 02:11] #41 closed

[2018-03-30 02:12] MarkPieszak commented on #41
Fix published just now! Thank you :+1: @GustavoAmerico
@dloukola

[2018-05-04 10:50] jycouet opened #43 "Package "@markpieszak/ng-application-insights" has an incompatible peer dependency to "rxjs" (requires "^5.5.5", would install "6.1.0")"
Hello,

I'm trying to update my application to Angular6, but I have an issue.
Here is what I get when I do a :`ng update @angular/core`

`Package "@markpieszak/ng-application-insights" has an incompatible peer dependency to "rxjs" (requires "^5.5.5", would install "6.1.0").`

Could you have a look?
Let me know if you need help :)

[2018-05-04 11:39] kealin commented on #43
Yes please, I seem to get this error from a similar setup with rxjs 6.0.0:

ERROR in ./node_modules/@markpieszak/ng-application-insights/dist/src/app-insight.service.js
Module not found: Error: Can't resolve 'rxjs/operators/filter' in 'C:\**\node_modules\@markpieszak\ng-application-insights\dist\src'

[2018-05-04 14:53] jycouet commented on #43
Actually, just updating rxjs to `6.1.0` (and peer) and changing the import from `rxjs/operators/filter` to `rxjs/operators` should work :)

[2018-05-05 18:34] MarkPieszak commented on #43
I think you're right @jycouet 👍
Just published ng-application-insights 5.0 - let me know if that works for you guys!

[2018-05-07 19:47] #43 closed

[2018-05-15 23:43] GFoley83 opened #44 "trackTrace API does not support setting severity level"
The API for trackTrace:
https://github.com/MarkPieszak/angular-application-insights/blob/master/src/app-insight.service.ts#L145

needs to be extended to support setting the severity level e.g. info, warn, etc.

As can be seen here:

https://github.com/Microsoft/ApplicationInsights-JS/blob/master/API-reference.md#tracktrace

[2018-05-19 16:53] #44 closed

[2018-05-19 16:54] MarkPieszak commented on #44
Fixed via
https://github.com/MarkPieszak/angular-application-insights/commit/55a453c59539277d976b02404d8fae4fec14d374

Thanks for finding this one! :+1: :100:

[2018-05-20 21:46] GFoley83 commented on #44
Cheers for the quick turnaround @MarkPieszak. Is there any chance of getting this for version 4 as well?

[2018-05-21 00:19] GFoley83 opened #45 "Dependency on @angular/router breaks compatibility with Ionic"
We're currently trying to use `angular-application-insights` across our various Angular applications, one of which is built in Ionic. Given the current version of Ionic (v.3) does not use `@angular/router`, we are getting the same error mentioned in Issue #25 `Unhandled Promise rejection: No provider for Router!`, which is due to the hard dependency on Angular Router inside `AppInsightsService`.

[2018-05-29 20:35] Giocapetini opened #46 "[AppInsightsService -> Router]: NullInjectorError: No provider for Router! (Angular 6)"
I am currently updating my insights service to angular 6 and after the update when i try to run ng serve i get the message
[code]
I'm not sure on what to do... everything was working fine with angular 5.2

[2018-05-30 10:10] GFoley83 commented on #45
I'm not sure but I don't think using `@Optional` will work here and you'd still be importing `@angular/router`, which is what will throw the error as it won't be installed.

[2018-06-01 01:47] MarkPieszak commented on #45
Yeah I think we might need to omit it entirely and warn people that they need to add that code themselves if they want it to handle those events, let me test a few things out.

[2018-06-06 20:13] atbe-crowe opened #47 "ApplicationInsights context set to undefined"
Hi,

---
**Version information**

- `@markpieszak/ng-application-insights`:  4.0.2
- Angular: 5.2.9
- rxjs: 5.5.7
---

I have an `AnalyticsService` I use to encapsulate the `AppInsightsService` from this library. My service looks something like this:

[code]

My `AnalyticsModule` looks like this:

[code]

As you can see, I'm setting my instrumentation key later and have an `init` function that's c

[2018-06-06 21:43] Giocapetini commented on #46
Sorry for it taking a while to reply Mark..
i "fixed" this error msg using
`RouterModule.forRoot([
          { path: '', component: AppInsightsService },
        ]),`
in my insights.module.ts
yes i was using the latest version for angular 6

[2018-06-06 21:47] Giocapetini commented on #46
Here's my insights.module.ts
`import { NgModule } from '@angular/core';
import { RouterModule } from '@angular/router';
import { BrowserModule } from '@angular/platform-browser';
import { APP_BASE_HREF } from '@angular/common';
import { ApplicationInsightsModule, AppInsightsService } from '@markpieszak/ng-application-insights';

@NgModule({
    imports: [
        BrowserModule,
        RouterModul

[2018-06-07 18:10] atbe-crowe commented on #47
To add, the `appInsights.context` **is** initialized, so I don't see why the `AppInsightsService` doesn't have the correct context

[2018-06-28 17:58] jondmcelroy commented on #46
I am also having the original problem.

version:
- markpieszak/ng-application-insights: 5.0.1
- angular: 6.0.2
- rxjs: 6.2.1

  StaticInjectorError(Platform: core)[AppInsightsService -> Router]:
    NullInjectorError: No provider for Router!
    at NullInjector.push../node_modules/@angular/core/fesm5/core.js.NullInjector.get (core.js:951)
    at resolveToken (core.js:1195)
    at tryResolveToken (

[2018-06-29 18:55] Giocapetini commented on #46
@jondmcelroy  i fixed that msg with
RouterModule.forRoot([ { path: '', component: AppInsightsService }, ]),
on my app.module

[2018-06-30 13:39] dominikfoldi commented on #15
I am trying to use the library with the dotnet angular template provided by the aspnet templating team.

I did everything exactly as stated in the [documentation](https://github.com/MarkPieszak/angular-application-insights#usage-with-aspnetcore-angular2-universal-repo-or-javascriptservices--apps-w-server-side-rendering-).
I have a shared AppModule and one for the server and another one for the bro

[2018-07-05 13:15] dominikfoldi opened #48 "'ReferenceError: define is not defined' in dotnet SpaServices angular template with SSR"
I am trying to use the library with the dotnet angular template provided by the aspnet templating team.
I am using the aspnet 2.1 with angular 5.2 version of the template and v4.0.2 of `@markpieszak/ng-application-insights`.

I did everything exactly as stated in the [documentation](https://github.com/MarkPieszak/angular-application-insights#usage-with-aspnetcore-angular2-universal-repo-or-javascr

[2018-07-05 20:13] SandyVeliz opened #49 "StringValueTooLong message:"string value is too long."
Hi! i m making an App with AD B2C and yours Git for AI, and every time the app get the AccesToken throw this warning:

AI: StringValueTooLong message:"string value is too long. It has been truncated to 1024 characters." props:"

![image](https://user-images.githubusercontent.com/29709496/42345420-acb361b8-8075-11e8-8417-38156aaeca30.png)

At first, I thought it was the problem of the Application-J

[2018-07-07 13:12] MarkPieszak commented on #48
Hey there! :wave:
I need to test things out with the latest template, that's strange that it doesn't work?
Can you try updating your module to es2015 in your tsconfig.server file? Maybe that will do the trick! :+1:
Hope that helps :)

`"module": "es2015",`

[2018-07-07 13:20] MarkPieszak commented on #46
Glad you figured it out! :+1:
Are we all set to close this one out?

[2018-07-07 13:45] dominikfoldi commented on #48
@MarkPieszak thank you for your reply but unfortunately this is not solving the problem 😕 I got the same error with module set to es2015.

[2018-07-20 15:15] graemeenglish commented on #47
I had the same issue although I couldn't use the library directly since I'm using ionic and Angular 5. Solution was to change the following line:
this.context = AppInsights.context
to
this.queue.push(() => (this.context = AppInsights.context));

[2018-08-03 02:43] mikecabana commented on #46
I'm getting a similar issue. I don't think just adding `RouterModule.forRoot([ { path: '', component: AppInsightsService }, ])` is the solution.

I'm not sure if anyone else has a similar issue but it should just work via your documentation.

I'm using...
- Angular: 6.0.3
- rxjs: 6.2.2
- angular-application-insights: 5.0.2

Could be an issue with how Angular 6 tree shakes services now. I'll do som

[2018-08-03 10:16] alisd23 opened #50 "NavigationCancel/NavigationError events do not call stopTrackPage"
Currently, the service **starts** tracking a page on a `NavigationStart` event, and **stops** tracking a page on `NavigationEnd only`.

The service should also stop tracking a page on the following events:
- `NavigationCancel`: An event triggered when navigation is canceled. This is due to a Route Guard returning false during navigation.
- `NavigationError`: An event triggered when navigation fail

[2018-08-14 17:07] MarkPieszak commented on #50
Fixed via https://github.com/MarkPieszak/angular-application-insights/commit/d96451c0cd4a2b3fc1809a51c9340b8b21112266

Thank you again @alisd23 🍻🍻🍻

[2018-08-14 17:07] #50 closed

[2018-08-16 10:15] fakerLinXiao commented on #45
@MarkPieszak   Hello. I use ionic too. The error is  "No module for @angular/router". How to resolve it?
"@angular/core": "4.1.2"
"@markpieszak/ng-application-insights": "^2.4.2"

[2018-08-16 11:45] andrelmp opened #52 "Missing properties on config"
There are some properties missing on component config. Those properties already exists on applicationinsights-js

[code]

all those are defined in `Microsoft.ApplicationInsights.IConfig`

[2018-08-16 13:45] katyasafford commented on #46
Any update on this? I am having the similar issue after updating to Angular 6

[code]

[2018-08-17 13:41] mikecabana commented on #46
I needed to implement something really quick for work so I ended up just using the `application insights-js` package and my own implementation.

[2018-08-22 19:07] kart33k opened #54 "Cyclic dependency when injecting AppInsightService in another service"
Hi,
We are using Angular 6.0.2 with angular CLi 6.0.1

i am trying to log to app insights by using a globalerror handler and loggerservice.
When trying to inject AppInsightservice to Loggerservice getting cyclicDependency error.

But when i put the service in a specific component it works, but i want to log all errors not component specific.

GlobalErrorHandler
`import { LoggerService } from './..

[2018-09-03 11:56] DnyaneshwarShivbhakta commented on #10
@MarkPieszak :- I am also unable to find __core_private__  and __platform_browser_private__ member after migrating from angular 2 to angular 6.Could you please help me to resolve this issue.

[2018-09-06 19:13] profet23 commented on #54
I'm seeing this as well.

[2018-09-14 21:10] #52 closed

[2018-09-14 21:11] #54 closed

[2018-09-14 21:27] MarkPieszak commented on #45
Fixed with the latest version 5.0.4 @GFoley83
We're grabbing the Router via the Injector now, so it shouldn't have any issues now!
Sorry about the delay there.

Closing out but please open up if it still didn't fix it!

[2018-09-14 21:27] #45 closed

[2018-09-14 21:29] MarkPieszak commented on #47
For it to work you'll need to have it at your Root NgModule, otherwise create a shared NgModule with the ApplicationInsightsModule (with no .forRoot) that you use within your child modules, _or_ grab the AppInsightsService via the `Injector`.

[code]

Closing out for now but let me know if you're still having trouble here!

[2018-09-14 21:29] #47 closed

[2018-09-14 21:29] MarkPieszak commented on #49
Closing out but let me know if the latest 5.0.4 doesn't fix this either - feel free to open a new issue!

[2018-09-14 21:29] #49 closed

[2018-09-14 21:38] MarkPieszak commented on #48
Not yet I'll have to try and find some time to look deeper into this but it seems like an underlying issue with application-insightsjs and how it's being bundled, hmm 🤔

[2018-09-15 17:13] MarkPieszak commented on #54
This should be working now in the latest 5.0.4 version on npm, if we can open a new issue if it's still not working (or it's another issue in general!)

Hope it works :+1:

[2018-09-17 16:23] stas-kh opened #56 "There are errors in console after the latest update"
Hey Mark,

Thank you for the work you do.

I would like to post a new bug that has appeared recently, in the latest version of the library (5.0.4)

Type: **Bug**
Environment:
1.  NodeJS - 8.9.0
2. npm - 5.5.1
3. Angular - ^6.1.6
4. Angular CLI - ^6.1.5

Steps to recreate:
1.  Create a new project on Angular 6
2. Include ng-application-insights library following the instructions
3. Run `ng serve`
4

[2018-09-18 22:56] AustinBrunkhorst commented on #56
I think the issue is that `@types/applicationinsights-js` is in **devDependencies**. It should be in regular **dependencies**, hence why your project isn't picking it up.

My simple workaround was to just install it manually in my project -

`npm i --save-dev @types/applicationinsights-js`

[2018-09-20 17:59] MarkPieszak commented on #56
Oh shoot did that move somehow??
I might of been trying to update it and accidentally did a `--D` to save-dev 🤦‍♂️
Let me fix that and release a minor patch release!

Sorry about that everyone!

[2018-09-20 18:03] #56 closed

[2018-09-20 18:04] MarkPieszak commented on #56
Fixed! Published to npm as `5.0.5`

[code]

@stas-kh @AustinBrunkhorst
Thanks for spotting and figuring this one out guys!

[2018-09-22 15:45] MarkPieszak commented on #48
Just wondering if you get the same issue with the latest version of this package?

[2018-09-24 16:07] MarkPieszak commented on #48
It seems like right now that might be the only way to fix the error, it looks like the library itself still has this issue Open :(

https://github.com/Microsoft/ApplicationInsights-JS/issues/476

[2018-09-25 22:30] FraserKillip commented on #47
I have put in a fix for this with #57 since I ran into the same problem. My problem was that AppInsights was not set up when it tried to set a reference to the context.

[2018-09-28 20:44] AhmedAzzabi commented on #48
im having the same issue, where exactly should we add this line (window as any).define = () => {}; ??

[2018-10-04 17:54] MarkPieszak commented on #47
@atbe-crowe @graemeenglish
Fixed via #57 - released as version 6.0.0

[2018-10-12 08:36] melborp commented on #46
Hi,
We use UIRouterModule and not the RouterModule in our angular application so we get the same issue.
Did the PR go through that would support using injector to get the router instead and how could we make it work with the UiRouterModule.
Thanks,
Taavi

[2018-10-12 08:45] melborp opened #60 "UIRouterModule not working with the ng-application-insights"
Im using Angular v6 and UiRouterModule instead of RouterModule. The application insights module seems to look for RouterModule explicitly? So it fails with the following:

app-insight.service.js:214 Angular application insights Error [downloadAndSetup]:  Error: StaticInjectorError(AppModule)[Router]:
  StaticInjectorError(Platform: core)[Router]:
    NullInjectorError: No provider for Router!

[2018-10-16 20:20] MarkPieszak commented on #60
I'm wondering if we simply test if `this.router` is undefined, and `return` if that would just fix it for you.
Let me give it a shot and push out a minor fix for you to try. @melborp

[2018-10-17 07:59] melborp commented on #60
HI @MarkPieszak,
i found overrideTrackPageMetrics setting from pull request and i used that as a workaround. PageView tracking sort of work then, not in angular sense maybe but when i change urls it understands. With the UIRouterModule we use more state transitioning, so we dont get that quite. I am updating to latest and will test the fix you made.

[2018-10-17 15:34] MarkPieszak commented on #60
Great!
Basically you can most likely do something _similar_ to what we have for the regular Router, but with the UIRouter. So if you do it manually in your app.component or something you'll be able to setup those pageMetrics and state transitions :+1:

[2018-10-18 06:50] melborp commented on #60
@MarkPieszak overrideTrackPageMetrics works as i said before. i still get "No provider for Router!" NullInjectorError when i try to just run it without the "overrideTrackPageMetrics: true"

[2018-10-25 07:00] KevinWils opened #61 "Track sent but not received in application Application Insights"
I installed version in 6.0.1, imported the module and specified the right instrumentation key from my Application Insights App (type: node.js). A track is sent with status code 200 but I don't see any data shown in Azure.

![angular-application-insights_issue](https://user-images.githubusercontent.com/7092056/47481592-4d34b900-d834-11e8-9c97-c6368d6b18ce.jpg)

Is there something I overlook here?

[2018-10-30 12:00] KevinWils commented on #61
I was expecting exceptions to show up in the Failure Panel in Azure. Now I found out that in there only server side failures are shown. After looking under Browser in Azure I found the received exceptions I was looking for. My bad.

[2018-10-30 12:01] #61 closed

[2018-10-30 14:33] jason2211 opened #62 "AppInsightsService.context is null, unable to add telemetry initializer"
### Disregard!  After posting this I restarted the ng server and the context started being populated.  I'm guessing something didn't get built properly after the package update.  Sorry!!

I'm working with the latest version and the context always seems to be null.  I'm not able to use the addTelemetryInitializer to track a custom tag.

**Versions**
@markpieszak/ng-application-insights = 6.0.1
angu

[2018-10-30 15:11] MarkPieszak commented on #62
No worries! I'm glad you got it all working. 👍
Strange it acted up like that, but it happens!

[2018-10-30 15:11] #62 closed

[2018-11-05 22:10] maxm-se opened #63 "TypeError when running ng serve in production mode"
Hi,

I have an issue since version 5.0.4 when building my application with --prod option (ng serve --prod).

[code]

When building my app in dev mode, everything is ok. I think that the issue is due to this change https://github.com/MarkPieszak/angular-application-insights/commit/ee3df015119ecc53704a9dc5162e2924f4a211e3. I investigated a bit and when the app is build in production mode, the parame

[2018-11-19 14:15] wmgdev opened #64 "npm dependency warning"
I've just upgraded to angular 7.0.4 and 6.0.1 and got this npm warning. I have this in my package file

`"@markpieszak/ng-application-insights": "^6.0.1"`
`"@angular/router": "^7.0.4"`,

this is the warning

`npm WARN @markpieszak/ng-application-insights@6.0.1 requires a peer of @angular/router@^6.0.0 but none is installed. You must install peer dependencies yourself. `

[2018-11-19 18:14] MarkPieszak commented on #64
Let me create a new version to match with 7.x! Sorry about the delay

[2018-11-19 18:38] MarkPieszak commented on #60
Fixed via try/catch :+1:
Published via 6.0.2!

If anything else just open a new issue, i'll close this one out for now!

[2018-11-19 18:38] #60 closed

[2018-11-19 18:47] #64 closed

[2018-11-19 18:48] MarkPieszak commented on #64
Fixed via releasing @markpieszak/ng-application-insights **`7.0.0 `**

Hope that helps! Thanks for the heads up 👍

[2018-11-19 18:50] MarkPieszak commented on #63
Hey @maxm-se
We're all set now with version **`6.0.3`** published to npm. There's also a 7.0.0 version released to prevent an npm warning for Angular 7+.

It was because I didn't have a try/catch around it for when Router isn't available, in the case of people using UIRouter!

You're all set now 🎁

[2018-11-19 18:50] MarkPieszak commented on #63
Closing as fixed via https://github.com/MarkPieszak/angular-application-insights/commit/d2443f1f663aebe429d00a7ca6b8cab791236377

[2018-11-19 18:50] #63 closed

[2018-11-21 00:37] jacobslusser opened #65 "AI is not defined"
When trying to set the severity level of a call to `trackTrace`, I get the following runtime error:

[code]

The call looks like this:

[code]

I've tried several imports to resolve this reference but can't seem to find the right one. Any thoughts?

[2018-11-21 16:35] MarkPieszak commented on #65
AI should be automatically added to your `@types/` folder in node_modules after installing, it comes from **`applicationinsights-js`** itself. Can you double check if it's there?

Was the package installed correctly? I'd wipe out node_modules and do another `npm i`. Make sure `"@markpieszak/ng-application-insights": "^7.0.1",` is in your package.json as well.

![image](https://user-images.githubus

[2018-11-21 18:09] jacobslusser commented on #65
Yes, the dependency was brought in and autocomplete in vscode finds it, however, if I'm meant to add an `import` statement for `AI` then I'm not sure how to do it. No syntax errors, but runtime error is what I posted above.

I'm using the latest version of `@markpieszak/ng-application-insights`.

[2018-11-22 14:43] jandresampaio commented on #13
Using the AppInitializer still would not be possible the key in the forRoot method, inside AppModule. So how would we set the key afterwards ?

[2018-11-29 08:53] nachiroy commented on #65
I'm facing this same issue. I checked that the correct '@types' are present in the typeRoots of my root tsconfig.json. Is there some step that we are missing?

[2018-12-18 16:40] Gobbenobber commented on #49
Still getting this with 6.0.1 and even 7.0.1!

[2018-12-19 09:55] Gobbenobber opened #66 "StringValueTooLong message:"string value is too long. It has been truncated to 1024 characters." props:"{value:/callback#access_token=<token>"
Related to #49 - I am still getting warnings about a string being too long and thus truncated in versions 6+ of angular-application-insights.

I seems this issue was fixed in 5.0.4 but somehow it's made its way back in.

[2018-12-21 02:48] MarkPieszak commented on #66
It seems like it's related to the applicationinsights-js underlying package itself, can we see if there's an issue over there - maybe they're working on it - if not we should definitely raise it up to them, maybe it's an easy fix we can get a PR in to fix it over there :+1:

[2018-12-21 02:48] MarkPieszak commented on #65
Are you guys still seeing this one? I'm strangely unable to reproduce this one.. :(

[2018-12-21 16:15] jacobslusser commented on #65
No, I was never able to get it working as expected. As a workaround I just copied in the `SeverityLevel` source into my file like this:

[code]

[2018-12-22 03:31] jacobslusser opened #67 "Add properties and measurements arguments to trackDependency"
See:
[https://github.com/Microsoft/ApplicationInsights-JS/issues/725](https://github.com/Microsoft/ApplicationInsights-JS/issues/725)
[https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30932](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30932)

Properties and measurements arguments have been added to the `trackDependency` function. Could we get the same?

Thanks.

[2018-12-29 01:17] MarkPieszak commented on #67
Yes definitely! Let me get those in tomorrow - apologies on the delay

[2019-01-02 22:00] pisees opened #68 "Angular 6"
Hi,

Does this support Angular 6 as well?

[2019-01-16 02:05] MarkPieszak commented on #68
Hey @pisees, yes if you install versions in the 6.x range it's setup for Angular 6.x actually :)

Hope that helps!

[2019-01-16 02:05] #68 closed

[2019-02-13 07:21] StefH commented on #66
I also have this warning.

Using :
* `"@angular/...": "~7.2.0"`
* `"@markpieszak/ng-application-insights": "^7.0.1"`

[2019-02-22 21:13] richardpineo commented on #65
We have seen this error in our applications as well. Unfortunately I don't have a good repo to reproduce but we are using the same workaround that @jacobslusser suggested above.

[2019-03-08 13:36] tomtom44 opened #69 "Update of ApplicationInsights-JS used"
Hi,
Thank you for this easy to use module,
I'm a new user of Azure Insights, and as I was looking into Error object format to use for a better integration in Insights, I saw that you based your module on ApplicationInsights-JS.
Is it the 1.0.7 that is actually used ?
Do you plan to update this dependency ?
Thanks

[2019-03-17 16:05] MarkPieszak commented on #69
We're using the latest right now ^1.0.7 will point up to 1.0.9 (which is the latest types. Is there something else that was missing or needed updating, I can take a look if so!! @tomtom44

[2019-03-17 16:11] MarkPieszak commented on #66
It seems this may be an existing issue within ApplicationInsights-JS itself, https://github.com/Microsoft/ApplicationInsights-JS/issues/286

Are there many tracking events firing off too quickly that's maybe causing this to happen?

[2019-03-17 16:35] #65 closed

[2019-03-17 16:35] #67 closed

[2019-03-17 16:37] MarkPieszak commented on #65
So to go along with @jacobslusser's custom enum for SeverityLevel, I created one and exported it inside the package here.

I also updated the Type defs to except both SeverityLevel (I provide in there), and AI.SeverityLevel just incase either work for people!

Hopefully this helps make life a little bit easier - apologies on the delay. Life has been hectic getting **[Trilon.io](https://trilon.io)*

[2019-03-17 16:38] MarkPieszak commented on #67
Took way too long apologies for that!!

Was super swamped setting up **[Trilon.io](https://trilon.io)**.

We're all set though, I actually updated all the Type defs to give more information for intellisense as well.

7.0.2 pushed to NPM with these updates :)

[2019-03-18 11:38] tomtom44 commented on #69
Thanks for your answer
I'm refering to this :
https://github.com/Microsoft/ApplicationInsights-JS/releases
I guess I'm wrong because there are way more recent than 1.0.9

[2019-03-18 19:29] MarkPieszak commented on #69
Oh sorry yes we're using the latest 1.0.20 now - when you install this package, it has uses the `^` caret, so it grabs whatever the latest one is within that same major version.

The 2.x versions are still in Beta so they're unavailable at the moment but i'll make sure to upgrade to them when they come out! :)

We should be all set otherwise though, its set to ^1.0.20 just incase!

[2019-03-18 19:29] #69 closed

[2019-03-22 12:03] aherrick opened #70 "Prevent Certain Data from Logging"
Please see here:

https://stackoverflow.com/questions/55288422/azure-application-insights-angular-prevent-certain-data-from-logging

[2019-03-25 21:33] katakam43 opened #71 "Cannot find module '@angular/core'"
Hello,

I am getting error as below on ng-serve.

 ../node_modules/@markpieszak/ng-application-insights/dist/index.d.ts(1,37): error TS2307: Cannot find module '@angular/core'.

../node_modules/@markpieszak/ng-application-insights/dist/src/app-insight.service.d.ts(2,26): error TS2307: Cannot find module '@angular/core'.

I am using Angular 7.

[2019-03-26 19:29] MarkPieszak commented on #70
Answered on Stack :)

https://stackoverflow.com/a/55364906/1492009

Hope that helps!

[2019-03-27 16:58] MarkPieszak commented on #71
Can you do a wipe of everything and try reinstalling?
Also just to make sure - you're using the latest version of the Package as well?

(Mac/Linux)
[code]

[2019-03-28 17:06] katakam43 commented on #71
Its fixed. thanks!.

[2019-03-28 17:06] #71 closed

[2019-04-03 04:27] #70 closed

[2019-04-14 08:30] StefH commented on #66
This issue is now fixed? https://github.com/Microsoft/ApplicationInsights-JS/issues/751

However it's only in the `2.0.0` release, so you plan to upgrade this library to use the new version?

[2019-04-18 20:23] MarkPieszak commented on #66
Ahh I didn't see they moved to 2.0!
Ok let me make the necessary changes - hopefully there aren't too many big ones and I can get an upgrade for the library here.

[2019-05-15 17:14] markwolff commented on #66
Just giving some context here from the JS SDK. App Insights limits the length of strings for telemetry. The warning only reflects the app insights world and the actual string is not truncated at all, only in the telemetry will it be truncated.

The referenced fix will not get rid of the warning. It only changed the fact that now the console warning shows the full, untruncated string. Disabling `ve

[2019-05-23 08:10] goenning opened #72 "upgrade to AI v2"
Now that AI v2 is released, can we upgrade this library to use the latest?

I'm happy to provide a PR, because I really need a feature that is in v2.

[2019-05-23 15:08] MarkPieszak commented on #72
Oh I didn’t know it was officially released out of alpha/beta! Yeah if it isn’t too big of change and you want to give it a shot that’d be amazing!! 🙌🙌

If not I can try to take a crack at it but I’m away next week so might be tough to squeeze it in.

Any help is always super appreciated! ❤️

[2019-05-23 20:29] goenning commented on #72
I was looking at it now and it seems like v2 is a big rewrite compared to v1

I'll give it a try over the weekend and see how far I can get :)

[2019-05-27 14:17] mostafa-raafat opened #74 "i wanted to make a heartbeat in my angular application"
when the application go offline a get an alert or i can know from azure Monitoring dashboard.
also i can't finish any reference to use TrackRequest ?

![Screen Shot 2019-05-27 at 4 16 08 PM](https://user-images.githubusercontent.com/43439787/58425730-dd710000-809a-11e9-977a-e44c277cac25.png)

[2019-05-28 20:37] MarkPieszak commented on #72
You rock!
Let me know if you need me to look at anything :+1:

[2019-05-29 07:44] goenning commented on #72
Hey Mark, I'm sorry but I didn't get much done last weekend. I'll be off for 2 weeks now, will try again when I'm back. I also couldn't find any reference to v2 on official docs, so I guess it's not that public yet. Feel free to have a look too if you wish.

[2019-05-29 09:56] mostafa-raafat opened #75 "appInsightsService.queue set to undefined"
only first time i'm in home no error and session is set then whenever i back to home again
 i got Uncaught TypeError: Cannot read property 'push' of undefined

` ngOnInit(): void {
    /*this.eventManager.navigate.subscribe((path: any) => {
      if (path.url === '/') {
        this.startSession();
      }
    });*/
  }`

`  private startSession(): void {
    this.appInsightsService.queue.push(()

[2019-05-29 14:14] MarkPieszak commented on #75
It seems others have ran into this one as well, can you check out https://github.com/TrilonIO/angular-application-insights/issues/47 and see if that can fix it for you? We pushed a fix via https://github.com/TrilonIO/angular-application-insights/pull/57 that should help prevent this from happening.

Let me know what you have to do to prevent this, we can make sure we add it to the Documentation fo

[2019-05-30 08:54] HappyZimmer opened #76 "Angular 8 (ivy) - ERROR in There is no format with import statements"
I Get this Error in an Angular 8 Project
ERROR in There is no format with import statements in 'xxx/node_modules/@markpieszak/ng-application-insights' entry-point.

The usage of the Module is:

ApplicationInsightsModule.forRoot({
      instrumentationKeySetLater: true
    }),

[2019-06-04 13:58] MarkPieszak commented on #76
Let me take a look and see what we need to update for Angular 8! Apologies

[2019-06-06 15:03] cblaettl commented on #76
I experience the same issue, but only if i enable Ivy in `tsconfig.app.json` like this:
[code]

[2019-06-06 15:29] MarkPieszak commented on #76
This may be related to this issue here:
https://github.com/angular/angular/issues/29564

With a potential fix PR here that hasn't been merged yet:
https://github.com/angular/angular/pull/30591

I'll double check to make sure though 📲

[2019-06-13 06:14] jonathankretzmer commented on #74
My understanding from using ApplicationInsights is that Requests are typically for the server-side logging of requests made to an API.  Typically all the interactions from the client-side (i.e. the Angular SPA), are through PageViews, Events, etc.

For your use-case, I would consider using TrackEvent instead.

[code]

You could then construct an Azure Logs query that would figure out the frequency

[2019-07-15 15:42] rsuk opened #82 "Angular 8 support"
Do you have any plans to support Angular 8? Seems to be working ok, but get peer dependencies warnings so I'm wondering if there is still work to do for full support.

[2019-07-16 08:16] AndreyBespamyatnov commented on #82
I can do a PR today, probably

[2019-07-16 08:56] AndreyBespamyatnov commented on #82
Created: https://github.com/TrilonIO/angular-application-insights/pull/83

[2019-07-16 10:35] #76 closed

[2019-07-16 10:35] #82 closed

[2019-07-16 10:54] MarkPieszak commented on #76
Published `@markpieszak/ng-application-insights@8.0.0`

If we can open a new issue if it's still working - let me know!

[2019-07-16 10:54] MarkPieszak commented on #82
Published `@markpieszak/ng-application-insights@8.0.0`

Thanks @andrelmp 	:+1:

If we can open a new issue if it's still working - let me know!

[2019-07-16 11:18] AndreyBespamyatnov commented on #82
@MarkPieszak Hi, could you change my name in your comment https://github.com/TrilonIO/angular-application-insights/issues/82#issuecomment-511767790, it is NOT me)

[2019-07-18 18:54] MarkPieszak commented on #82
Fixed! That's strange that it did that 😆
Sorry about that!

[2019-12-24 07:39] Exlord opened #84 "Status Code: 400 100: Field 'ai.operation.name' on type 'ContextTagKeys' is too long. Expected: 1024"
Hi,
Sometimes I am getting this message in the console :

 `Status Code: 400 100: Field 'ai.operation.name' on type 'ContextTagKeys' is too long. Expected: 1024 characters, Actual: 1157`

[2020-01-29 00:42] MarkPieszak commented on #84
It looks like a (still open) bug in the underlying SDK 😢

https://github.com/microsoft/ApplicationInsights-JS/issues/1107

[2020-02-09 11:56] naeem76 opened #85 "Can't seem to update azure with any data?"
[code]
[code]

Using the CustomErrorHandler to send all exceptions to Insights, but I am not getting any data sent.
Also not getting any errors so not sure where to start fixing the issue.

[2020-02-13 17:46] naeem76 commented on #85
Edit: It was AdBlock blocking the data

[2020-02-13 17:46] #85 closed

[2020-02-28 16:10] ntziolis commented on #72
Is this lib still in active development? Or should we use [angular-application-insights-v2](https://github.com/tamilvasan/angular-application-insights-v2) instead?

[2020-03-30 14:24] jerone opened #87 "Angular 9 support"
I'm making an inventory to see if our project is possible to upgrade to Angular 9.

The [`peerDependencies`](https://github.com/TrilonIO/angular-application-insights/blob/master/package.json#L35) in the `package.json` indicates that Angular 9 is supported, but I can't find any documentation that this is true.

My question, does `@markpieszak/ng-application-insights` work with Angular 9?

[2020-04-07 17:01] michaelmarcuccio commented on #72
@MarkPieszak same question as @ntziolis above, is this enhancement still on hold?

[2020-04-16 11:58] jerone commented on #87
Ping @MarkPieszak 🏓

[2020-06-10 15:33] giriv1985 opened #90 "Dependency tracking with ResultCode = 0"
Hi!

We are seeing client-side dependencies request with duration > 0 but resultCode=0 for google analytics very rarely. What does it mean ?.

[2020-06-16 12:36] giriv1985 commented on #90
Any update ?

[2020-06-19 10:22] giriv1985 commented on #90
Above situation i mentioned happening most of time in safari browser. Please tell and suggest there is any issue with mac ios safari browser.

[2020-06-23 06:53] SrinivasaKrishnamurthy commented on #90
Any Update?

[2020-07-04 15:38] MarkPieszak commented on #87
It should, let me double check and make sure to upgrade everything for angular 10 but it should work as we’re not using any too ng specific here!

[2020-07-04 15:39] MarkPieszak commented on #90
Hi all! I’m not sure I haven’t ran into this issue. I’d suggest trying to check application-insights package itself and see if anyone has a similar issue. This might be something they’re fixing with the underlying package.

[2020-07-04 15:40] MarkPieszak commented on #84
It looks like the underlying issue was closed, maybe this is fixed now? @Exlord

[2020-07-24 08:07] JonoSchoeman opened #92 "Add missing property `enableAutoRouteTracking` to configuration"
There is a missing property `enableAutoRouteTracking` from the [Microsoft's Appinsights Javascript configuration](https://github.com/microsoft/ApplicationInsights-JS#configuration).

Could we please add this as part of the configuration?

[2020-08-24 08:47] aleksandar-kandzhichki opened #94 "Generic type 'ModuleWithProviders<T>' requires 1 type argument(s)"
Hello, I updated to Angular 10 and now I have an issue with the `forRoot` method:

![image](https://user-images.githubusercontent.com/13217235/91023661-7f193100-e5ff-11ea-9f5f-a993a1e95746.png)

It says that ModuleWithProviders usage without a generic type is deprecated, so can we push a version with atleast <any> so Angular builds :)

[2020-08-25 14:29] pkarny commented on #72
@MarkPieszak We really like your lib it's fine if you are too busy to update ;) Just give the community a hint what should we do ;) should we wait, contribute or just move on? :)

[2020-08-25 15:05] goenning commented on #72
Just a heads up: I tried updating this package to appinsights v2 long ago, but faced too may breaking changes. Given that we only needed a thin angular compatibility layer, I ended up with this new package: https://github.com/goenning/ng-appinsights

It might not have all features supported by angular-application-insights, but some people might find it useful.

[2020-08-30 22:59] MarkPieszak commented on #94
This should be fixed in the latest 8.0.2 version, let me know if not!

Fixed via 8521606bdcdeb02712817c7158c2639258eb146d

[2020-08-31 13:13] MarkPieszak commented on #84
It looks like the underlying issue was closed and a PR was just made (https://github.com/microsoft/ApplicationInsights-JS/pull/1193).

🎸🐈

[2020-08-31 13:13] #84 closed

[2020-08-31 13:14] MarkPieszak commented on #87
We should be all set for Angular 10 in the latest 8.0.2 version!
Sorry for the delay!

[2020-08-31 13:15] MarkPieszak commented on #87
I'll close this out for now, but if you can re-open an issue if there's still something wrong with v10, it was fine with testing - made all the changes last night and published 8.0.2 :)

[2020-08-31 13:15] #87 closed

[2020-08-31 13:22] MarkPieszak commented on #92
Hey sorry for the delay, I added all the other missing options as well! There was about 10-15 of them :)
We should be all set, and they should be available via 8.0.3 now. 🎸🎸

[2020-08-31 13:22] #92 closed

[2020-09-02 16:58] #94 closed

[2020-10-02 10:25] apranzetti opened #97 "warnings in Angular 10 upgrade - CommonJS or AMD dependencies can cause optimization bailouts"
**Describe the bug**
Upgrading to the latest version of angular and using '@markpieszak/ng-application-insights' will cause console warnings

**To Reproduce**
Steps to reproduce the behavior:

Install version 10 of Angular CLI
Follow instructions from here https://docs.amplify.aws/start/getting-started/installation/q/integration/angular
build the app

**Temporarily solution**
Add to angular.json :

[2020-10-26 17:52] toureholder opened #98 "Move away from dependency on deprecated applicationinsights-js package"
This library currently depends on the deprecrated [applicationinsights-js](https://www.npmjs.com/package/applicationinsights-js) which as been moved to [@microsoft/applicationinsights-web](https://www.npmjs.com/package/@microsoft/applicationinsights-web).

Any plans to move to the nondeprecated dependency to get the latest updates & features?

[2020-11-20 10:26] vdavyskiba opened #99 "Angular 11 incompatible"
"@markpieszak/ng-application-insights": "8.0.3",
npm install

npm ERR! code ERESOLVE
npm ERR! ERESOLVE unable to resolve dependency tree
npm ERR!
npm ERR! While resolving: web@0.0.0
npm ERR! Found: @angular/router@11.0.2
npm ERR! node_modules/@angular/router
npm ERR!   @angular/router@"^11.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer @angular/router@"^10

[2020-11-22 15:21] olegkap commented on #99
I also get this error:

`This likely means that the library (@markpieszak/ng-application-insights) which declares ApplicationInsightsModule has not been processed correctly by ngcc, or is not compatible with Angular Ivy. Check if a newer version of the library is available, and update if so. Also consider checking with the library's authors to see if the library is expected to be compatible with I

[2020-12-31 08:07] jerone commented on #99
Add the following to your package.json:

[code]

If you already have the latest version of this package, run `npm run postinstall` after you added above.

[2021-04-19 17:31] MarkPieszak commented on #99
Fixed via https://github.com/TrilonIO/angular-application-insights/commit/cae052a9ffbc9668001066626f59834f0de12e4d and published to npm as `v9.0.0` version, apologies for the super long delay! :(

Works at it should now, and the Angular CLI simply throws a warning on build since we're using an underlying commonJS/AMD package (from microsoft)

![image](https://user-images.githubusercontent.com/2574

[2021-04-19 17:33] MarkPieszak commented on #97
I believe this may be due to the fact that we're using the underlying microsoft/application-insights-js package. I'm looking but I'm not sure if the v2 version even fixes this issue there.

[2021-04-20 04:54] Astrophizz commented on #99
I spent most of today digging through `source-map-explorer` output to find that this package was preventing the optimization, only to see you updated the package today! Thanks so much!

[2021-04-20 05:19] Astrophizz commented on #97
According to this comment, v2 uses ES6 modules https://github.com/microsoft/ApplicationInsights-JS/issues/301#issuecomment-442542939

[2021-05-26 13:56] matthewtquinn1 opened #105 "Angular 12"
Hi,

Are you planning on upgrading this repository to use support Angular 12? If so, when do you see that being available?

Thank you.

[2022-01-14 10:41] matthewtquinn1 commented on #105
Thanks very much Mark! And apologies for my delayed response!

[2022-01-14 10:42] matthewtquinn1 opened #112 "Angular 13 support"
Hi, me again!

Are you planning on updating this repository to support Angular 13? :)

Thank you.

[2022-02-03 17:13] brylkovskyi commented on #112
At least would be great if router peer dependency bumped to ^13, otherwise need to `npm install --legacy-peer-deps` to resolve dependency tree

[2022-03-16 17:49] MarkPieszak commented on #112
Fixing right now! Apologies I completely missed this one!!
@matthewtquinn1 @brylkovskyi

Publishing any minute now as `v9.0.2` 🚢

[2022-03-16 17:50] MarkPieszak commented on #98
I have to look back into this one, I'm wondering how many breaking changes there might be 🤔

[2022-03-16 17:52] #112 closed

[2022-04-21 22:09] GupCa commented on #98
For us [applicationinsights-js](https://www.npmjs.com/package/applicationinsights-js) shows the expired certificate error since today. Unfortunately, have to switch to another package for this reason.

[2022-07-14 11:42] petrce opened #119 "Angular 14 support"
Hi please, do you plan to support Angular 14? :)
thanks

[2022-08-27 23:52] MarkPieszak commented on #119
Let me fix that up, it really just needs to be added into the dependency array

[code]

If you want to get a PR in before me! Sorry for the delay 🙌

[2022-10-19 08:05] petrce commented on #119
Thanks, @TPullen21
@MarkPieszak do you think you can review the PR please please? :) it is a last package stopping us from upgrading to A14

[2022-10-25 18:29] archubbuck commented on #119
@MarkPieszak I'm also looking for this functionality

[2022-11-22 18:15] wolfpackt99 commented on #119
@MarkPieszak  I see you had a PR for this but its not complete yet, any update?